<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    {{ body }}
    {% set foo = 1 %}{% if foo %}<p>Hello, Foo!</p>{% endif %}
    <ul>{% for item in items %}
        <li>{{ item }}</li>{% else %}<li>No Items</li>
    {% endfor %}
    </ul>
</body>
</html>